
@using OnlineTicariOtomasyon.Models.Classes
@model List<CargoDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Cargo", FormMethod.Get))
{
<p>
    Cargo Tracking Number : @Html.TextBox("p")
    <input  type="submit" value="Search" />
</p>
}
<br />

<table class="table table-bordered" style="margin-top:20px">

    <tr>
        <th>Staff</th>
        <th>Recipient</th>
        <th>Date</th>
        <th>Details</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.Staff</td>
        <td>@x.Recipient</td>
        <td>@x.Date</td>
        <td><a class="btn btn-primary" href="/Cargo/CargoTracking/@x.TrackingCode">Details</a></td>
    </tr>

    }

</table>
<br />
<a href="/Cargo/NewCargo" class="btn btn-info">Add New Cargo</a>

